[rewrite_local]
^https:\/\/api\.revenuecat\.com\/v1\/(receipts|subscribers) url script-response-body https://raw.githubusercontent.com/7452323/QuantumultX/main/script/UnlockCore.js
^https:\/\/api\.revenuecat\.com\/v1\/(receipts|subscribers) url script-request-body https://raw.githubusercontent.com/7452323/QuantumultX/main/script/UnlockCore.js
^https:\/\/buy\.itunes\.apple\.com\/verifyReceipt url script-response-body https://raw.githubusercontent.com/7452323/QuantumultX/main/script/UnlockCore.js
^https:\/\/www\.budingscan\.com\/server\/ url script-response-body https://raw.githubusercontent.com/7452323/QuantumultX/main/script/UnlockCore.js
^https:\/\/bd-aiart\.vivo\.com\.cn\/ai_painting\/(get_remain_paint_count|self_homepage) url script-response-body https://raw.githubusercontent.com/7452323/QuantumultX/main/script/UnlockCore.js
^https:\/\/art\.budingscan\.com\/ai_painting\/get_remain_photo_shoot_count url script-response-body https://raw.githubusercontent.com/7452323/QuantumultX/main/script/UnlockCore.js
